header h1 {
    font-size: 42px;
}
nav > ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    list-style: none;
    text-decoration: none;
    color: var(--text);
}

nav {
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text);
}
a:hover {
    text-decoration: underline;
}
